*{

    padding: 0%;
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
    

}

body{

    color: white;
    background-color: black;
    
}

#box{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

fieldset{

    width: 30vw;
    height: 30vh;
    border: none;

}

li{

    list-style: none;
    border: 1px solid white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;

}

form{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;

}

button{

    padding: 2.5%;
    outline: 1px solid white;
    color: white;
    background-color: black;

}

button:hover{

    padding: 2.5%;
    outline: 1px solid gray;
    color: white;
    background-color: gray;

}